<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Tradutor LIBRAS</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <!-- Logo -->
        <div class="logo">
            <img id="app-logo" src="logo_claro.png" alt="Logo Libre-se">


           
     
                    <button id="theme-toggle-btn">☀︎</button>
                
        </div>

        <!-- Select idioma entrada -->
        <select>
            <option>Português (Brasil)</option>
        </select>

        <!-- Área de texto -->
        <textarea placeholder="Digite aqui..."></textarea>

        <!-- Botões -->
        <div class="buttons">
            <button>Apagar</button>
            <button>Traduzir</button>
        
        </div>

        <!-- Select idioma saída -->
        <select>
            <option>Língua Brasileira de Sinais (LIBRAS)</option>
        </select>

        <!-- Resultado -->
        <div class="resultado"></div>

        
    </div>

    <script src="script.js"></script>

</body>
</html>
